@mixin before_circle {
    &:before {
        content: '';
        position: absolute;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background: #4b45aa;
        z-index: -1;
        top: -25%;
        left: 75px;
        
    }
}

@mixin before_menu {
    &:before {
        content: '';
        position: absolute;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background: #4b45aa;
        z-index: -1;
        top: -25%;
        left: 0;
    }
}