@media (max-width: 1350px) {
    .sidepanel {
        display: none;
    }
}
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 200px 600px;
            row-gap: 40px;
            padding: 0 100px 0 50px;
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(auto-fit,270px);
            justify-content: space-around;
        }
    }
    .sidepanel {
        display: none;
    }
    .promo {
        min-width: 0;
        max-width: 1920px;
        &__subtitle {
            text-align: start;
        }
        &__title {
            width: 320px;
            font-size: 35px;
            text-align: start;
        }
        &__text {
            position: absolute;
            padding-left: 65px;
        }
        &__btns {
            margin-left: 0;
        }
    }
    .resume {
        &__wrapper {
            padding: 60px 65px 0 103px;
            grid-template-columns: repeat(2,320px);
            column-gap: 120px;
        }
    }
    .load {
        &__wrapper {
            grid-template-columns: repeat(auto-fit,350px);
            justify-content: space-around;
            &__scale {
                &-notfull {
                    width: 320px;
                }
            }
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: space-around;
            row-gap: 20px;
            .horizonal, .vertical {
                grid-row: unset;
                grid-column: unset;
            }
        }
        &__item {
            img {
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .contacts {
        &__wrapper {
            grid-template-columns: auto 585px;
            column-gap: 20px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    

    .about {
        &__wrapper {
            grid-template-columns: 200px 380px;
        }
        &__photo {
            grid-row: 1 / 2;
        }
        &__skills {
            padding-left: 45px;
        }
    }
    .resume {
        &__wrapper {
            padding: 60px 0 0 17px;
            grid-template-columns: repeat(2,320px);
            column-gap: 60px;
        }
    }
    .skills {
        &__wrapper {
            justify-content: space-around;
            grid-template-columns: repeat(auto-fit,270px);
        }
    }
    .load {
        &__wrapper {
            grid-template-columns: repeat(auto-fit,320px);
            justify-content: space-around;
        }
        &__scale {
            &-notfull {
                width: 320px;
            }
        }
    }
    .price {
        &__wrapper {
            padding: 0;
            padding-top: 60px;
        }
    }
    .contacts {
        &__wrapper {
            column-gap: 0;
            grid-template-columns: 585px;
        }
        &__photo {
            img {
                display: none;
            }
        }
    }
}


@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .about {
        padding-top: 60px;
        &__wrapper {
            padding-left: 20px;
            grid-template: auto / 1fr;
        }
        &__photo {
            display: none;
        }
        &__descr {
            width: 480px;
        }
        &__skills {
            padding-left: 0;
            column-gap: 0;
        }
    }
    .resume {
        &__wrapper {
            padding: 60px 0 0 50px;
            grid-template-columns: repeat(1,320px);
            row-gap: 50px;
        }
    }
    .skills {
        &__wrapper {
            justify-content: space-around;
            grid-template-columns: repeat(auto-fit,260px);
            column-gap: 10px;
            row-gap: 10px;
        }
    }
    .load {
        &__wrapper {
            grid-template-columns: repeat(auto-fit,230px);
            justify-content: space-around;
        }
        &__scale {
            &-notfull {
                width: 230px;
            }
        }
    }
    .portfolio {
        &__wrapper {
            margin-top: 35px;
        }
    }
    .price {
        &__wrapper {
            padding-top: 35px;
            grid-template-columns: none;
            justify-content: center;
        }
    }
    .contacts {
        padding-top: 0;
        &__wrapper {
            padding: 0;
        }
        &__form {
            grid-template: 45px 190px 45px/repeat(2,245px);
            column-gap: 10px;
            justify-content: start;
        }
        &__descr {
            padding: 90px 10px 0 10px;
        }
    }
}


@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 10px;
        }
    }
    .promo {
        background: url('../img/bg/headerbg.jpg') no-repeat 60%/cover;
        &__subtitle {
            width: 300px;
        }
        &__title {
            width: 281px;
            font-size: 29px;
            margin-top: 30px;
        }
        &__text {
            width: 100%;
            position: inherit;
            margin-left: 0;
            padding-left: 0;
        }
    }
    .about {
        &__descr {
            width: 290px;
        }
        &__text {
            padding: 0 5px 0 5px;
        }
        &__skills {
            grid-template: repeat(2,minmax(115px,auto))/repeat(1,260px);
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: repeat(1,280px);
            padding: 60px 10px 0 10px;
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(auto-fit,260px);
            justify-content: space-around;
        }
    }
    .load {
        &__wrapper {
            grid-template-columns: 230px;
        }
    }
    .contacts {
        &__wrapper {
            grid-template-columns: 300px;
        }
        &__btn {
            order: 2;
            max-width: 220px;
            line-height: 14px;
            margin: 0 auto;
        }
        &__subtitle {
            font-size: 30px;
        }
        &__form {
            grid-template: 45px 45px 190px minmax(45px, auto) / 1fr;;
        }
        &__textarea {
            grid-column: unset;
            width: 100%;
        }
        &__triggers {
            grid-column: unset;
            grid-template-columns: 1fr; 
            column-gap: unset;
            row-gap: 20px;
        }
        &__policy {
            width: 180px;
            margin: 0 auto;
            line-height: 18px;
        }
    }
}