@import url(libs/bootstrap-reboot.min.css);
.promo {
  min-height: 100vh;
  min-width: 1920px;
  position: relative;
  background: url("../img/bg/headerbg.jpg") no-repeat 50%/cover;
  padding-top: 205px;
}
.promo__text {
  width: 450px;
  margin-left: -140px;
  text-align: center;
}
.promo__title {
  width: 446px;
  margin-top: 10px;
}
.promo__subtitle {
  position: relative;
  z-index: 2;
}
.promo__subtitle:before {
  content: '';
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: red;
  z-index: -1;
  top: -25%;
  left: 75px;
}
.promo__btns {
  margin-top: 120px;
  margin-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 700;
}
.promo__btn:hover {
  background-color: #002ead;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  font-weight: 700;
}
.promo__link {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
}
.promo__link:hover {
  color: #FFFFFF;
}

.title {
  font-weight: bold;
  font-size: 36px;
}
.title_fz14 {
  font-size: 14px;
  font-weight: 700;
}
.title_fz16 {
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  font-weight: 700;
}
.title_fz20 {
  font-size: 20px;
  line-height: 30px;
}
.title_fz36 {
  font-size: 36px;
}
.title_fz48 {
  font-size: 48px;
  color: #FFFFFF;
  font-weight: 700;
}

.btn {
  height: 45px;
  background: red;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 9px 25px;
}

.sidepanel {
  position: fixed;
  top: 230px;
  left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 340px;
  z-index: 3;
}
.sidepanel__divider {
  margin: 0 auto;
  width: 2px;
  height: 70px;
  left: 10px;
  background-color: #fff;
}
.sidepanel__text {
  height: 150px;
  width: 25px;
}
.sidepanel__text span {
  -webkit-transform: rotate(-90deg) translate(-30%, -260%);
          transform: rotate(-90deg) translate(-30%, -260%);
  display: block;
  width: 150px;
  color: #fff;
  margin-top: 8px;
}
.sidepanel__link img:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.hamburger {
  position: absolute;
  top: 20px;
  right: 30px;
  height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
}
.hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  background: #FFFFFF;
}
.hamburger span.long {
  width: 36px;
}

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.menu.active {
  left: 0;
  visibility: visible;
  opacity: 1;
}
.menu__block {
  position: relative;
  /* left: -100%; */
  width: 345px;
  height: 100%;
  background: red;
  -webkit-transition: all .6s;
  transition: all .6s;
  padding-top: 140px;
  padding-left: 40px;
  z-index: 10;
}
.menu__close {
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 25px;
}
.menu__close:hover {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  scale: 1.1;
}
.menu__list {
  list-style-type: none;
  padding-left: 35px;
}
.menu__link {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 15px;
  opacity: 0.5;
}
.menu__link:before {
  content: '';
  position: absolute;
  left: -35px;
  top: 10px;
  width: 15px;
  height: 15px;
  border: 1px solid #FFFFFF;
  border-radius: 100%;
}
.menu__link:hover {
  opacity: 1;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-transform: translate(10%);
          transform: translate(10%);
}
.menu__link:hover:before {
  background-color: #fff;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.menu__link a {
  color: #FFFFFF;
  text-decoration: none;
}
.menu__social {
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__social svg:hover {
  -webkit-transform: rotate(1080deg);
          transform: rotate(1080deg);
  -webkit-transition: all 10s;
  transition: all 10s;
}
.menu__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: .75;
}

.about {
  padding-top: 120px;
}
.about__wrapper {
  display: grid;
  grid-template-columns: 400px 670px;
  grid-template-rows: minmax(245px, auto) minmax(255px, auto);
  grid-auto-rows: minmax(245px, auto);
  -webkit-column-gap: 70px;
          column-gap: 70px;
  row-gap: 40px;
}
.about__photo {
  grid-row: 1/3;
}
.about__photo img {
  width: 100%;
}
.about__title {
  position: relative;
  color: black;
  padding-left: 12px;
  padding-top: 1px;
  padding: 1px 0 0 12px;
}
.about__title:before {
  content: '';
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: red;
  z-index: -1;
  top: -25%;
  left: 0;
}
.about__descr {
  padding-top: 6px;
}
.about__descr .divider {
  margin: 0;
}
.about__text {
  margin-top: 20px;
  font-weight: 500;
  font-size: 14px;
}
.about__skills {
  display: grid;
  grid-template: repeat(2, minmax(115px, auto))/repeat(2, 260px);
  grid-auto-rows: 1fr;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  row-gap: 20px;
}
.about__skills-item {
  display: grid;
  grid-template-columns: 40px 200px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}
.about__skills-circle {
  position: relative;
  padding: 15px 0 0 15px;
}
.about__skills-circle:before {
  content: '';
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: red;
  z-index: -1;
  top: -25%;
  left: 75px;
}
.about__skills-circle:before {
  top: 0;
  left: -2px;
}
.about__skills-text {
  margin-top: 6px;
  font-size: 12px;
  line-height: 18px;
  width: 200px;
}

.resume {
  padding-top: 120px;
}
.resume__title {
  position: relative;
  text-align: center;
  color: black;
}
.resume__title:before {
  content: '';
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: red;
  z-index: -1;
  top: -25%;
  left: 75px;
}
.resume__title:before {
  top: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.resume__subtitle {
  text-align: center;
}
.resume__wrapper {
  padding: 60px 65px 0 65px;
  display: grid;
  grid-template-columns: repeat(2, 425px);
  -webkit-column-gap: 135px;
          column-gap: 135px;
}
.resume__column-title {
  position: relative;
  padding-left: 35px;
}
.resume__column-title:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background: red;
  border-radius: 100%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.resume__column ul {
  list-style-type: none;
}
.resume__column ul li {
  position: relative;
}
.resume__column ul li:after {
  content: '';
  width: 1px;
  height: calc(100% + 16px);
  position: absolute;
  top: -16px;
  left: -25px;
  background-color: black;
}
.resume__item {
  position: relative;
}
.resume__item:before {
  content: '';
  height: 1px;
  width: 34px;
  position: absolute;
  top: 48px;
  left: -24px;
  background-color: black;
}
.resume__item-head {
  position: relative;
  padding: 30px 0 0 90px;
}
.resume__item-head h4 {
  margin-bottom: 0;
}
.resume__item-body {
  padding-left: 20px;
  margin-top: 12px;
}
.resume__item-icon {
  position: absolute;
  top: 30px;
  left: 10px;
}
.resume__item-icon:before {
  content: '';
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: red;
  z-index: -1;
  top: -25%;
  left: 0;
}
.resume__item-icon img {
  position: absolute;
  left: 16px;
  top: 14px;
}
.resume__item-location {
  font-size: 12px;
  line-height: 18px;
  margin-top: 5px;
}
.resume__item-body {
  font-size: 12px;
}

.skills {
  padding-top: 120px;
}
.skills__title {
  position: relative;
  color: black;
  text-align: center;
  font-size: 14px;
}
.skills__subtitle {
  text-align: center;
}
.skills__wrapper {
  display: grid;
  padding: 60px 10px 120px 10px;
  grid-template-columns: repeat(4, 270px);
  grid-template-rows: repeat(2, 270px);
  -webkit-column-gap: 13px;
          column-gap: 13px;
  row-gap: 13px;
}
.skills__column {
  border: solid;
  border-width: 1px;
  color: black;
}
.skills__item {
  padding: 30px 29px 25px 30px;
}
.skills__item h4 {
  margin-bottom: 0;
  padding-top: 20px;
}
.skills__item-body {
  font-size: 12px;
  padding-top: 15px;
}

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.divider {
  width: 60px;
  height: 3px;
  border: 3px solid red;
  margin: 25px auto 0 auto;
}

/*# sourceMappingURL=style.css.map */